.character-container {
	margin-left: 300px;
	margin-right: 300px;
	height: 200px;
	border: 5px solid black;
	border-radius: 30px;
	box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.8);
	transition: all 0.2s ease;
	display: grid;
	grid-template-columns: 0.6fr 1fr 0.6fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	background: #fff;
	grid-template-areas:
		"character-img character-name character-hp"
		"character-img character-background character-armor"
		"character-img character-morale character-level"
		"character-img character-angles character-xp"
		"btn btn btn";
}

/* .character-container:hover {
	transform: scale(1.002);
} */

#character-img {
	/* background: rgb(213, 240, 173); */
	grid-area: character-img;
}

#background-img {
	position: absolute;
	height: 180px;
	margin-left: 10px;
}

#character-name {
	/* background: rgb(241, 198, 105); */
	grid-area: character-name;
}

#character-background {
	/* background: rgb(244, 143, 103); */
	grid-area: character-background;
}

#character-morale {
	/* background: rgb(139, 198, 240); */
	grid-area: character-morale;
}

#character-angles {
	/* background: rgb(255, 168, 230); */
	grid-area: character-angles;
}

#character-hp {
	/* background: rgb(157, 237, 255); */
	grid-area: character-hp;
}

#character-armor {
	/* background: rgb(243, 149, 154); */
	grid-area: character-armor;
}

#character-level {
	/* background: rgb(164, 251, 200); */
	grid-area: character-level;
}

#character-xp {
	/* background: rgb(236, 251, 164); */
	grid-area: character-xp;
}

.character-btn-container {
	grid-area: btn;
	text-align: center;
}

.character-label {
	padding-top: 5px;
	padding-left: 10px;
	position: absolute;
	font-size: 11px;
}

.character-text {
	padding-top: 20px;
	padding-left: 30px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	font-size: 18px;
}

.character-btn {
	position: relative;
	top: 2px;
	height: 30px;
	width: 150px;
	color: #fff;
	background: #006983;
	cursor: pointer;
	border: 3px solid black;
	border-radius: 15px;
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.8);
	/* box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2); */
	transition: all 0.3s ease;
	transform: scale(1.3);
}

.character-btn:hover {
	background: #0093b8;
	transform: scale(1.4);
}

@media only screen and (max-width: 1500px) {
	.character-container {
		margin-left: 200px;
		margin-right: 200px;
	}
}

@media only screen and (max-width: 1100px) {
	.character-container {
		margin-left: 100px;
		margin-right: 100px;
	}
}

@media only screen and (max-width: 900px) {
	.character-container {
		margin-left: 50px;
		margin-right: 50px;
	}
}

@media only screen and (max-width: 650px) {
	.character-container {
		margin-left: 0;
		margin-right: 0;
	}
}
